div {
}

.notification-container {
    padding: 15px;
    margin: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 0 0 0 0;
}