notification {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    min-width: 250px;
    margin-top: 12px;
    border: 1px solid rgb(200,200,200);
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    

}

    notification div:first-child{
        width: 15px;
        height: 15px;
    }

    notification:first-child {
        max-width: 200px;
        word-wrap: break-word;
    }

    notification close-button {
        width: 25px;
        height: 25px;
        border-radius: 3px;
    }

